@model OOpro.Models.Item

@{
    ViewBag.Title = @Html.DisplayFor(model => model.Name);
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                精選商品

            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <h3>  #@Html.DisplayFor(model => model.Name)</h3>

            <img src="~/picture/@Html.DisplayFor(model => model.Picture)" class="img-responsive" />
            <br>
            <br>

            <br>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <form role="form">
                    <div class="form-group">
                        <div class="input-group">
                            <p>價格：NT. @Html.DisplayFor(model => model.Price)</p>
                            <br />
                            <p>商品描述： @Html.DisplayFor(model => model.Description)</p>


                            <p>輸入數量   </p><p style="color:gray">尚有庫存 @Html.DisplayFor(model => model.Count)</p>
                            @Html.TextBox("count", "1", new { @class = "btn-info" })
                            <button type="submit" class="btn btn-default">加入購物車</button>

                        </div>
                    </div>


                </form>
            }
            <p>
            <p>
            </p>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <caption>評論</caption>
                <tr>
                    <th>評論者</th>
                    <th>評論內容</th>
                </tr>
                @foreach (var item in Model.ItemRev)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Account)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Text)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
