@model IEnumerable<OOpro.Models.Item>

@{
    ViewBag.Title = "Index";
}

@if (TempData["message"] != null)
{
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["message"]));
        alert(message);
    </script>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="text-right">
        @Html.TextBox("a", null, new { @class = "btn-info" })
        <input type="submit" value="搜尋" class="btn btn-default" />
    </div>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(@Html.DisplayFor(modelItem => item.Name).ToString(), "Details", new { id = item.ID })
            
        </td>
        <td>
            <img src="~/picture/@item.Picture" class="img-responsive" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @if (item.Count > 0)
            {
                <a href='@Url.Action("Details", "Items", new { id = item.ID })'>
                    <img src="~/picture/hot.jpg" class="img-responsive" />
                </a>
                
            }
            else
            {
                <img src="~/picture/sold.jpg" class="img-responsive" />
            }
        </td>
    </tr>
}

</table>
