@model IEnumerable<OOpro.Models.Order>

@{
    ViewBag.Title = "訂單管理";
}

<h2>訂單管理</h2>

<table class="table">
    <tr>
        <th>
            數量
        </th>
        <th>
           時間
        </th>
        <th>
           總價格
        </th>
        <th>
           評論
        </th>
        <th>
            商品名稱
        </th>
     
        <th></th>
    </tr>

    @foreach (var item in Model.OrderByDescending(model => model.Time))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>

            @if (item.State == 0)
            {

                <th>未評論商品</th>
            }
            else
            {
                <th>已評論商品</th>
            }

            <td>
                @Html.DisplayFor(modelItem => item.Item.Name)
            </td>
            
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
