@model OOpro.Models.Save

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Save</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Money)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Money)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Account)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Account)
        </dd>

    </dl>
</div>
<p>
    
    @Html.ActionLink("返回", "Index")
</p>
