@model IEnumerable<OOpro.Models.Save>

@{
    ViewBag.Title = "儲值";
}

<h2><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> 儲值</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayName("餘額")
        </th>
        <th>
           @Html.DisplayName("最新儲值時間")
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Money)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        
      
        <td>
            @Html.ActionLink("加值", "Edit", new { id=item.ID })           
            
        </td>
    </tr>
}

</table>
