@model IEnumerable<OOpro.Models.Article>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div class="container">

    <div class="row">
        <div class="col-lg-12">

            <h1 class="page-header">
                <span class="glyphicon glyphicon-align-justify glyphicon" aria-hidden="true"></span>
                文章列表
            </h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8">
                        <table class="table">
                            <caption> 最新文章</caption>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Title)</th>
                                <th>@Html.DisplayNameFor(model => model.User.Account)</th>
                                <th>@Html.DisplayNameFor(model => model.ClickRate)</th>
                                <th>@Html.DisplayNameFor(model => model.Time)</th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.ActionLink(@Html.DisplayFor(modelItem => item.Title).ToString(), "Details", new { id = item.ID })
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.User.Account)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ClickRate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Time)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                    <div class="col-md-4">
                        <table class="table">
                            <caption> 熱門文章</caption>
                            <thead>
                                <tr>
                                    <th>
                                    <th><!-- ... 點擊率排序 ... --></th>
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                <!-- ... 檢索Artcle DB  ... -->
                                <h4><a herf="導向至Artcle"><!-- ... 文章標題  ... --> </a></h4>



                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>






<table class="table"></table>
